<h1>Trivia Squad Pro</h1>
<p>
    <%= link_to "All Trivia Squads", teams_path %> | 
    <%= link_to "All Players", players_path %> | 
    <%= link_to "Create Trivia Squad", new_team_path %> |
    <%= link_to "Join a Trivia Squad", new_trivia_squad_path %> |
    <%= link_to "Register New Player", new_player_path %>
</p>
<h2><%= @player.name %>'s Profile</h2>
<p>Nickname: <em><%= @player.nickname %></em></p>
<p>Expertise: <%= @player.expertise %></p>
<p>Catchphrase: <br><br><%= @player.catchphrase %></p>
<p>Squads Joined: 
<ul>    
    <% @player.teams.each do |team| %>
    <li><%= link_to team.name, team_path(team) %></li>
    <% end%>
</ul>
</p>