<% if flash[:errors] %>
<ul>
    <% flash[:errors].map do |error| %>
        <li><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @trivia_squad do |f| %>
    <%= f.label :team_id, "Team Name" %><br>
    <%= f.collection_select :team_id, @recruiting_teams, :id, :name %><br>
    <%= f.label :player_id, "Player Name" %><br>
    <%= f.collection_select :player_id, Player.all, :id, :name %><br><br>
    <%= f.submit "Join Trivia Squad"%>
<% end%>